* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 768px;
  margin: 0 auto;
}

a {
  border-bottom: 1px dotted currentColor;
  text-decoration: none;
}

a:hover,
a:active,
a:focus,
a.is-active {
  border-bottom-style: solid;
}
